body {
  height  : 100vh;
  font-family: "Noto Sans Kawi", sans-serif;
  font-size: 18px;
  display: flex;
  margin: 0;
  flex: 1 1 auto;
}

.left-bar {
  flex: 45%;
  background-image: url(background1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  color: white;
  /* flex: 1 1 auto; */
}

.right-bar {
  flex: 55%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

img {
  width: 100px;
}

.heading {
  background-color: rgba(0, 0, 0, 0.4);
  margin-top: 20%;
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

h1 {
  font-family: 'Agbalumo';
  font-size: 60px;
  margin: 10px 0 0;
  font-size: 500;
}

#credits {
  font-style: 700;
  margin-top: auto;
  align-self: center;
  font-size: 12px;
}

a {
  color: inherit;
}

.contact-form {
  display: flex;
  flex-direction: column;
  padding: 25px 100px;
  box-shadow: 0px 1px 5px rgb(212, 210, 210);
  flex: auto;
}

.cell {
  display: flex;
  flex-direction: column;
  /* flex: auto; */
}

.row {
  display: flex;
  gap: 80px;
  margin-bottom: 20px;
}

.intro {
  padding-left: 100px;
  padding-right: 200px;
}

label {
  font-size: 18px;
  color: #313131;
  margin-bottom: -5px;
}

button {
  font-family: "Noto Sans Kawi", sans-serif;
  font-size: 18px;
  margin-left: 100px;
  margin-top: 50px;
  padding-top: 6px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 5px;
  border: 1px solid #0b2d39;
  background-color: #2596BE;
  color: #0b2d39;
  font-weight: 700;
}

button:hover {
  cursor: pointer;
  transform: scale(1.01);
  color: white;
}

.sign-up {
  font-size: 16px;
  margin-left: 100px;
}

.sign-up a {
  text-decoration: none;
  color: #0b2d39;
  font-weight: bold;
}

input {
  padding: 5px;
  font-size: 18px;
  border-radius: 3px;
  border: 1px rgb(189, 187, 187) solid;
}

input:focus {
  border: 1px #134b5f solid;
  background-color: #fafafa;
}

::placeholder {
  font-size: 16px;
}

h2 {
  color: #0f3c4c;
}

input:not(:empty) {
  background-color: red;
}